* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MedievalSharp', cursive;
  color: white;
}

main {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 20px;
  padding: 30px;
  height: max-content;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;  z-index: -1000;  overflow: hidden;  width: auto;
  height: auto;
}
#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;




}


h1 {
  font-family: 'Macondo Swash Caps', cursive;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.4em;
  margin: 20px 5px 20px 0;
}

.text {
  font-size: 1.1em;
  padding: 5px;
  margin: 20px;
  width: 300px;

}
.results {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.players {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  font-size: 14px;
  gap: 20px;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  margin:10px
}
.aqua {
  width: 65px;
  height: 65px;
  border: solid 3px blue;
  background-color: cornflowerblue;
  border-radius: 50%;
  padding: 10px;
}
.fire {
  width: 65px;
  height: 65px;
  border: solid 3px rgb(218, 134, 38);
  background-color: red;
  border-radius: 50%;
  padding: 10px;
}
.plant {
  border: solid 3px rgb(124, 200, 9);
  background-color: green;
  border-radius: 50%;
  padding: 10px;
  width: 65px;
  height: 65px;
}
.gnomo {
  width: 80px;
  height: 90px;
}
.player {
  height: 90px;
  width: 105px;
}
.choice {
  margin-top: 10px;
  font-size: 35px;
  background-color: rgba(5, 3, 3, 0.5);
  border: solid black;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 1.4em;
  font-weight: bold;

  font-family: 'MedievalSharp', cursive;
}

.player1,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;
}
.box {
  border: solid 3px rgb(109, 71, 133);
  width: 250px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(148, 76, 144);
  align-items: center;
  font-size: 0.9em;
  font-family: 'MedievalSharp', cursive;
  padding: 5px;
}
@media (min-width: 768px) {
  h1 {
    font-size:3rem
  }
  .text {
    font-size: 1.7em;
    padding: 10px;
    width: 500px;
  }
  .players {
    font-size: 1em;
  }
  .aqua,
  .fire,
  .plant {
    width: 60px;
    height: 60px;
 
  }
  .gnomo {
    width: 90px;
    height: 100px;
  }
  .player {
    width: 110px;
    height: 100px;
  }
  .choice {
    width: 50px;
    height: 50px;
    font-size: 1.3em;
  }
  .form{
    gap:25px

  }
  .main{
    margin: 0 80px 0 80px;
  }
  .box{
    margin-top :5px;
    font-size: 1em;
    width: 400px;
  
  }


}
@media (min-width: 1024px){
  .main{
    margin:0px 200px 0px 200px ;

  }
  h1 {
    font-size: 3.4em;
  }
  .text{
    font-size: 2em;
   
  }
  .players{
    font-size: 1.5em;
  }
  .aqua,.fire,.plant{
    width:90px;
    height: 90px;
    padding: 13px;
    
  }
  .choice{
    width: 70px;
    height: 70px;
    font-size: 1.7em;
  }


  .form{gap:30px;}
  .box{
    font-size: 1.5em;
    width: 500px;
  }

}
